extends layout

block content
  h2= "Help desk"
  div(class="container")
  
  div(class="footer")
    form
      input(type="text", name="query")
      &nbsp;
      input(type="submit", name="submit", value="Send")
      &nbsp;
      input(type="button", name ="endchat", value="End Chat")
